# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
*.egg
*.whl
*.dist-info/
build/
dist/

# Virtual environments (e.g., Conda)
env/
.venv/
.conda/
*.env
*.venv

# Python virtual environment directories
env/
venv/
ENV/
.venv/
.env/

# PyInstaller
#  Usually these files are written to this folder.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# C extensions
*.so

# Unit test / cover


.idea/
